<!DOCTYPE html>
<html>

<head>
    <title>Photo Gallery</title>
</head>

<body>
    <h1>Photo Gallery</h1>
    <% images.forEach(image=> { %>
        <img src="/images/<%= image %>" width="200" style="margin:10px;">
    <% }) %>

</body>

</html>