@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

/* 🔥 ANIMATED BLUISH BACKGROUND */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(
        130deg,
        #020412,
        #040b1f,
        #020412,
        #000
    );

    background-size:400% 400%;
    animation:bgMove 12s ease infinite;
}

/* Background animation */
@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}


/* 🔥 GLASS FORM CARD */
form{
    width:370px;
    padding:50px;
    height: 300px;
    border-radius:22px;

    background: linear-gradient(
        145deg,
        rgba(20,40,80,0.35),
        rgba(10,20,40,0.15)
    );

    border:1px solid rgba(120,170,255,0.18);

    backdrop-filter: blur(30px);

    box-shadow:
        0 0 80px rgba(0,140,255,0.15),
        inset 0 0 30px rgba(255,255,255,0.04);

    color:#eaf2ff;

    /* floating effect */
    animation:float 4s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0px);}
    50%{transform:translateY(-12px);}
    100%{transform:translateY(0px);}
}


/* 🔥 GRADIENT HEADING */
form h1{
    text-align:center;
}